.chat-sidebar {
  width: 300px;
  background-color: white;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 10px 15px;
  height: calc(100vh - 80px);
  transition: width 0.3s;
  z-index: 1000;
  box-shadow: 0.5px 0.5px 2px #83b02880;
  border-radius: 0 10px 10px 0;
}

.chat-sidebar.collapsed {
  width: 30px;
}

.chat-btn-toggle {
  position: absolute;
  top: 50%;
  left: 100%;
  height: 80px;
  width: 25px;
  transform: translateX(-50%) translateY(-50%);
  border: 0.5px solid #82b028;
  background: linear-gradient(to right, #d3fc82, #faffef);
  color: var(--quaternery);
  border-radius: 10px;
}

.chat-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 80px 5px 5px 5px;
  height: calc(100vh - 85px);
  margin-left: 35px;
  padding: 5px;
  /* border-radius: 15px;
  box-shadow: 2px 2px 5px gray;
  background-color: white; */
  transition: margin-left 0.3s, width 0.3s;
}

/* Groups CSS */
.group-item {
  color: var(--primary);
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 5px 10px;
  /* border: 1px solid var(--primary); */
}

.group-item:hover {
  background-color: #e4e4e4;
}

.group-item.active {
  background-color: var(--primary);
  border-bottom: 1.5px var(--quaternery) solid;
  color: white;
}

.group-img {
  height: 45px;
  width: 45px;
  margin-top: 5px;
  border-radius: 50%;
  border: 1px solid var(--primary);
}

.group-name {
  font-size: 1.2rem;
}

.latest-message {
  margin-left: 5px;
}

/* Chat Box CSS*/
.chat-container {
  overflow: hidden;
}

.message-container {
  border-radius: 10px;
  padding: 0px 10px;
  margin-top: 10px;
  max-height: 85%;
  overflow-y: auto;
}

.current-user-message {
  width: 80%;
  margin-left: 20%;
}

.current-user-message .message {
  display: flex;
  background-color: rgb(178, 204, 255);
  margin-top: 5px;
  padding: 5px 10px;
  border-radius: 10px 10px 0px 10px;
}

.current-user-message .msg-img {
  display: none;
  height: 45px;
  width: 45px;
  margin-top: 5px;
  border-radius: 50%;
  border: 1px solid var(--primary);
}

.current-user-message .msg-content {
  margin-left: 10px;
  width: 100%;
}

.current-user-message .msg-content-sender {
  font-family:cursive;
  font-weight: 500;
  color: var(--primary);
}

.current-user-message .msg-content-message {
  margin-left: 5px;
}

.current-user-message .msg-content-time {
  margin-right: 5px;
  text-align: end;
  font-size: 12px;
}

.other-user-message {
  width: 80%;
  margin-right: 20%;
}

.other-user-message .message {
  display: flex;
  background-color: #d8d8d8;
  margin-top: 5px;
  padding: 5px 10px;
  border-radius: 10px 10px 10px 0px;
}

.other-user-message .msg-img {
  height: 45px;
  width: 45px;
  margin-top: 5px;
  border-radius: 50%;
  border: 1px solid var(--primary);
}

.other-user-message .msg-content {
  margin-left: 10px;
  width: 100%;
}

.other-user-message .msg-content-sender {
  font-weight: 500;
  font-family:cursive;
  color: var(--primary);
}

.other-user-message .msg-content-message {
  margin-left: 5px;
}

.other-user-message .msg-content-time {
  margin-left: 5px;
  text-align: start;
  font-size: 12px;
}

@media (max-width: 768px) {
  .chat-sidebar {
    width: 250px;
  }

  .chat-sidebar.collapsed {
    width: 30px;
  }
}

.page-content {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 0.5s forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.sidebar .logout-btn {
  position: absolute;
  bottom: 20px;
  font-size: 1.2rem;
  margin: 0 auto;
}
