.custom-heading2 {
  font-family: "Pacifico", serif;
  font-weight: 100;
  background: linear-gradient(var(--quaternery), #ffc400);
  background-clip: text;
  color: transparent;
}

.text-stroke2 {
  font-family: "Londrina Shadow", serif;
  font-weight: 600;
  letter-spacing: 2px;
  background: var(--primary);
  background-clip: text;
  color: transparent;
  font-size: 60px;
}

.text-custom2 {
  font-family: serif;
  font-weight: lighter;
  text-shadow: -0.5px -0.5px 1px rgba(255, 255, 0, 0.6);
  background: var(--primary);
  background-clip: text;
  color: var(--quaternery);
  font-size: 30px;
}

.custom-tooltip{
  --bs-tooltip-bg: var(--primary);
  --bs-tooltip-color: white;
}

.recipes-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary);
  padding: 10px 20px;
  border-radius: 10px;
  text-align: justify;
}

.category-section {
  margin: 0 50px;
}

.category-section li {
  color: transparent;
  margin-bottom: 5px;
}

/* Category Styles */
.category-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
}

.category-card {
  position: relative;
  width: 180px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.category-card img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.category-title {
  font-family: "Pacifico", serif;
  position: absolute;
  bottom: -15px;
  width: fit-content;
  background: var(--quaternery);
  border-radius: 3px;
  color: var(--secondary);
  padding: 8px 15px;
  font-size: 16px;
  letter-spacing: 1px;
}

.category-box {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 20px 0 0 0;
  margin-bottom: 30px;
  background-color: white;
  box-shadow: 0.5px 0.5px 3px gray;
}

/* Tag Styles */
.tag-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.tag-card {
  position: relative;
  width: 140px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 0 5px;
  margin-bottom: 25px;
}

.tag-card img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.tag-title {
  /* font-family: "Pacifico", serif; */
  position: absolute;
  bottom: -15px;
  width: fit-content;
  background: var(--primary);
  border-radius: 3px;
  color: white;
  padding: 2px 5px;
  font-size: 16px;
  /* letter-spacing: 1px; */
}

/* Search Results */
.search-recipe-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.search-recipe-card {
  position: relative;
  background-color: white;
  width: 170px;
  text-align: center;
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgb(128, 128, 128);
  overflow: hidden;
}

.search-recipe-card img {
  display: block;
  width: 170px;
  margin: 0 auto;
  height: 200px;
}

.search-recipe-title {
  margin: 0 auto;
  margin-top: 5px;
  width: fit-content;
  padding: 2px 5px;
  font-size: 18px;
}

.search-rating {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  padding: 5px;
  border-bottom-left-radius: 15px;
}

/* View Recipe Page*/
.recipe-page {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 0 2px gray;
  position: relative;
}

.recipe-page-img {
  height: 300px !important;
  border-radius: 50%;
}

.wishlist-btn {
  position: absolute;
  right: 20px;
}

/* My Recipes Card */
.my-recipe-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.my-recipe-card {
  position: relative;
  background-color: white;
  padding: 5px;
  height: 280px;
  width: 180px;
  text-align: center;
  margin-bottom: 15px;
  border-radius: 10px;
  /* border: 0.2px gray solid; */
  box-shadow: 1px 1px 2px rgb(128, 128, 128);
  overflow: hidden;
}

.my-recipe-card img {
  display: block;
  width: 170px;
  margin: 0 auto;
  height: 200px;
  border-radius: 10px;
}

.my-recipe-ratings {
  margin-top: 5px;
}

.my-recipe-title {
  /* font-family: "Pacifico", serif; */
  margin: 0 auto;
  margin-top: 5px;
  width: fit-content;
  /* background: var(--primary); */
  border-radius: 3px;
  padding: 2px 5px;
  font-size: 18px;
}

.my-recipes-menu{
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  border-bottom-left-radius: 10px;
  padding: 8px;
}

.my-recipes-menu .menu-icon:hover{
  color: var(--primary);
  cursor: pointer;
}